# Hadoop tarball
#HADOOP_INSTALL_TARBALL="$HOME/hadoop/hadoop-0.21.0.tar.gz"
#HADOOP_INSTALL_TARBALL="$HOME/hadoop/hadoop-0.20.205.0-bin.tar.gz"
#HADOOP_INSTALL_TARBALL="$HOME/hadoop/hadoop-1.1.2.tar.gz"
HADOOP_INSTALL_TARBALL="$HOME/hadoop/hadoop-1.1.2-veiga.tar.gz"

# Java home directory
HADOOP_INSTALL_JAVA="$HOME/hadoop/jre1.7.0_55"

# Network interface to be used by Hadoop
HADOOP_INSTALL_IFACE="eth0"

# Destination directory for Hadoop 
# (This is also where HDFS block will be stored)
#HADOOP_INSTALL_DEST=/tmp/ramdisk
HADOOP_INSTALL_DEST=/tmp

# Hadoop environment
HADOOP_INSTALL_ENV=$HADOOP_INSTALL_DEST/hadoop-$USER/hadoop/HADOOP.config

# Has root privileges?
HAS_SUDO=0

